/*background*/

.body {
    background: gray;
    background-size: 800% 800%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*button*/

.myButton {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    text-align: center;
}

.myButton:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}


#title_style {
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}


/*forms*/
.form {
    box-shadow: inset 0px 0px 15px 3px #324960;
    background: linear-gradient(to bottom, #2e466e 5%, #324960 100%);
    background-color: #324960;
    border-radius: 12px;
    border: 1px solid #324960;
    display: inline-block;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*font-size: large;*/
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #324960;
}

.form:hover {
    background: linear-gradient(to bottom, #324960 5%, #324960 100%);
    background-color: #324960;
}

.form:active {
    position: relative;
    top: 1px;
}



/*show_more_less */
.panel-wrapper {
    position: relative;
}

.btn {
    color: #fff;
    background: #000;
    border-radius: 1.5em;
    left: 30%;
    padding: 1em;
    text-decoration: none;
    width: 40%;
}

.show, .hide {
    position: absolute;
    bottom: -1em;
    z-index: 100;
    text-align: center;
}

.hide {
    display: none;
}

.show:target {
    display: none;
}

.show:target ~ .hide {
    display: block;
}

.show:target ~ .panel {
    max-height: 1000px;
}

.show:target ~ .fade {
    margin-top: 0;
}

.panel {
    position: relative;
    margin: 1em auto;
    width: 100%;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.fade {
    background: linear-gradient(to bottom, rgba(60, 85, 30, 0) 0%, #646464 75%);
    height: 85px;
    margin-top: -100px;
    position: relative;
}

/*unordered list style*/

.tilesWrap {
    padding: 0;
    margin: 50px auto;
    list-style: none;
    text-align: center;
}

.tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    max-width: 230px;
    padding: 80px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: "helvetica", san-serif;
    min-height: 25vh;
    background: #354345;
    border: 1px solid #252727;
    text-align: left;
}

.tilesWrap li h2 {
    font-size: 114px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
    font-size: 20px;
    color: #b7b7b7;
    margin-bottom: 5px;
}

.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
}

.tilesWrap li button {
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.tilesWrap li button:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li:hover button {
    transform: translateY(5px);
    opacity: 1;
}

.tilesWrap li button:hover {
    color: #262a2b;
}

.tilesWrap li button:hover:before {
    left: 0;
    opacity: 1;
}

.tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.6;
}

.tilesWrap li:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:nth-child(1):before {
    background: #c9ffbf;
    background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
    background: linear-gradient(to right, #ffafbd, #c9ffbf);
}

.tilesWrap li:nth-child(2):before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}

.tilesWrap li:nth-child(3):before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(4):before {
    background: #fc354c;
    background: -webkit-linear-gradient(to right, #0abfbc, #fc354c);
    background: linear-gradient(to right, #0abfbc, #fc354c);
}

/*list*/

.X {
    margin: auto;
    text-align: center;
    padding: 1% 2%;
    max-width: 1440px;
    border-radius: 5px;
    /*background: #ecf0f1;*/
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
}

.X_accepted {
    margin: auto;
    text-align: center;
    padding: 1% 2%;
    max-width: 1440px;
    border-radius: 5px;
    background: #4fc1d7;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Baloo Tamma', cursive;
}

li {
    color: #2c3e50;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: 'Raleway', serif;
}

/*SG = style grid*/
.SG {
    margin: 0;
    padding: 0;
    text-align: center;
}

.SG .sgLi {
    min-width: 24%;
    margin: 2% .35%;
    display: inline-flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.SG .sgLi:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

.SG .box {
    width: 100%;
    height: 100vh;
    padding: 1% 2%;
    /*background: #949494;*/
    min-height: 200px;
    max-height: 220px;
    box-sizing: border-box;

}

/*Styles */
.df {
    list-style-type: disc;
}

.s1 {
    list-style-type: square;
}

.s2 {
    list-style-type: circle;
}

/* responsive grid*/
@media (max-width: 970px) {
    .SG .sgLi {
        width: 180px;
    }
}

@media (max-width: 425px) {
    .SG .sgLi {
        width: 100%;
    }
}

body {
    background-color: #191e2a;
    margin: 0 auto;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

#header_box {
    width: 80vw;
    margin: auto;
    background-color: #3b486d;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    #header_box {
        width: 100%;
    }
}

.login, .links {
    display: flex;
    align-items: center;
}

#content_wrapper {
    background-image: url("../images/18.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    width: 80vw;
    height: fit-content;
    min-height: 100vh;
}

@media screen and (max-width: 800px) {
    #content_wrapper {
        width: 100%;
    }
}

#main_page {
    padding-top: 50px;
    position: relative;
}

.header_element {
    display: flex;
    align-items: center;
    height: 3vw;
    padding: 0 1.5vw;
}

.header_element:hover {
    background-color: crimson;
}

@media screen and (max-width: 800px) {
    .header_element {
        height: 6vh;
    }
}

#register {
    padding: 0 1vw;
}

#login {
    padding: 0 1vw;
}

.search {
    display: flex;
    align-items: center;
    margin: 0.5vh 20px;
}

#search_bar {
    font-size: 1vw;
    height: 100%;
    width: 20vw;
    margin: 0;
    padding: 0.6vh 0;
    background-color: rgba(255, 255, 255, 0.55);
}

.search form {
    display: flex;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

@media screen and (max-width: 800px) {
    header a, #search_bar {
        font-size: 1.3vh;
    }
}

#sort {
    display: flex;
    margin: 0 auto;
    align-content: flex-start;
    width: 85%;
}

#main_table {
    display: flex;
    margin: 0 auto;
    align-content: center;
    width: 85%;
}

#main_page form {
    display: flex;
    margin: 0;
}

#main_page table, #users_table table {
    margin: 0 0 50px;
}

#main_page select, #main_page button {
    font-size: 1.6vh;
    height: 2.8vh;
    border-radius: 4px;
    border: 1px solid rgba(67, 67, 67, 0.33);
    background-color: rgba(255, 255, 255, 0.32);
}

#main_page select:hover, #main_page button:hover {
    background-color: rgba(147, 147, 147, 0.19);
}

#main_page select {
    width: 120px;
}

#main_page button {
    width: 55px;
}

#main_table td {
    text-align: center;
    padding: 1vw 3vw;
    font-size: 2.4vh;
    background-color: rgba(255, 255, 255, 0.32);
    border-top: 1px solid #c5c5b5;
    border-bottom: 1px solid #c5c5b5;
}

#main_table td:last-child {
    text-align: left;
    width: 50vw;
    border-right: 1px solid #c5c5b5;
}

#main_table td:nth-child(2) {
    font-size: 2vh;
    color: #474747;
    padding-left: 0;
}

#main_table td:first-child {
    font-size: 2vh;
    color: #474747;
    border-left: 1px solid #c5c5b5;
}

#main_table td a, #users_table td a {
    color: #254d82;
    text-decoration: none;
}

.question-head {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    padding: 40px 0 10px 0;
    border-bottom: 1px solid #7b7b68;
}

#question_info {
    width: 20vw;
}

#question_info p {
    text-align: right;
    margin: 0 auto;
    font-size: 1.9vh;
    color: #474747;
    height: fit-content;
}

#question_info a {
    color: #474747;
    font-weight: bold;
}

#question h1, #user_page h1 {
    margin: 0 auto;
    width: 95%;
    font-weight: normal;
    color: #2b2b57;
    font-size: 3.25vh;
}

#question h2, #user_page h2 {
    margin: 0 auto;
    width: 95%;
    font-weight: normal;
    font-size: 2.3vh;
    color: #2b2b57;
    border-bottom: 1px solid #7b7b68;
}

.question-page_table {
    text-align: center;
    margin: 40px auto 40px auto;
    width: 85%;
}

.question-page_table td:first-child {
    min-width: 1vw;
    max-width: 1vw;
    color: #474747;
    border-left: 1px solid #c5c5b5;
}

.question-page_table td:nth-child(2) {
    max-width: 15vw;
    min-width: 15vw;
    white-space: pre-wrap;
    text-align: justify;
    padding-right: 1vw;
}

.question-page_table td:nth-child(3) {
    max-width: 3.5vw;
    color: #474747;
}

.question-page_table td:last-child {
    max-width: 2vw;
    border-right: 1px solid #c5c5b5;
}

.question-page_table td {
    align-items: center;
    font-size: 1.9vh;
    border-bottom: 1px solid #c5c5b5;
    border-top: 1px solid #c5c5b5;
    background-color: rgba(255, 255, 255, 0.32);
    padding: 10px 0;

}

.question-page_table p {
    margin: 0;
    height: fit-content;
}

#answer_info {
    margin-bottom: 1vh;
}

#question_table, #answer_table {

    width: 100%;
}

.up-arrow {
    transform: rotate(-90deg);
    height: 30px;
    width: 30px;
}

.down-arrow {
    transform: rotate(90deg);
    height: 30px;
    width: 30px;
}

.question-foot {
    display: flex;
    margin: 0 auto;
    width: 95%;
}

.question-foot button {
    background-color: rgba(255, 255, 255, 0.32);
    border: 1px solid #c5c5b5;
    border-radius: 4px;
    font-size: 1.6vh;
    height: 3.5vh;
    width: 7vh;
    margin-right: 0.3vw;
}

.question-button {
    height: 1.5vw;
    width: 4vw;
    font-size: 0.7vw;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #7d7d7d solid;
    border-radius: 4px;
}

.question-button:hover, .input_form button:hover, .back_button button:hover, .question-foot button:hover {
    background-color: rgba(147, 147, 147, 0.19);
}

.user-page-head {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    padding: 40px 0 10px 0;
    border-bottom: 1px solid #7b7b68;
}

.user-page-bottom {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 89%;
    padding: 40px 0 10px 0;
}

#sexy_accepted {
    width: 3vw;
}

#users_table {
    display: flex;
    margin: 0 auto;
    padding-top: 6vh;
    align-content: center;
    width: fit-content;
}

#users_table td {
    text-align: center;
    padding: 1vw 3vw;
    font-size: 1.8vh;
    background-color: rgba(255, 255, 255, 0.32);
    border-top: 1px solid #c5c5b5;
    border-bottom: 1px solid #c5c5b5;
}

#users_table td:last-child {
    width: fit-content;
    text-align: left;
    border-right: 1px solid #c5c5b5;
}

#users_table td:first-child {
    font-size: 2.2vh;
    color: #474747;
    border-left: 1px solid #c5c5b5;
}

#user_questions, #user_answers {
    display: flex;
    margin: 0 auto;
    width: 85%;
}

#user_questions table, #user_answers table {
    width: 100%;
}

#user_questions a, #user_answers a {
    color: #254d82;
    text-decoration: none;
}

#user_questions td, #user_answers td {
    text-align: center;
    padding: 1vw 2vw;
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0.32);
    border-top: 1px solid #c5c5b5;
    border-bottom: 1px solid #c5c5b5;
}

#user_questions td:first-child, #user_answers td:first-child {
    width: 60%;
    text-align: justify;
    white-space: pre-wrap;
    border-left: 1px solid #c5c5b5;
}

#user_questions td:last-child, #user_answers td:last-child {
    width: 20%;
    border-right: 1px solid #c5c5b5;
}

.input_form {
    padding-top: 5vh;
}

.input_form h1 {
    margin: 0 auto 3vh;
    width: 95%;
    font-weight: normal;
    font-size: 2.5vh;
    color: #2b2b57;
    border-bottom: 1px solid #7b7b68;
}

.input_form form, .back_button, .error_message {
    width: 95%;
    margin: 0 auto;
}

.back_button {
    margin-bottom: 5vw;
}

input, textarea {
    margin-top: 1vh;
    background-color: rgba(255, 255, 255, 0.32);
    border: 1px solid #c5c5b5;
    border-radius: 4px;
    width: 30%;
    font-size: 1.6vh;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .input_form input, .input_form textarea {
        width: 80%;
    }
}

.input_form label {
    font-size: 2vh;
}

.input_form input {
    height: 3vh;
}

.input_form textarea {
    resize: none;
}

.input_form button, .back_button button {
    background-color: rgba(255, 255, 255, 0.32);
    border: 1px solid #c5c5b5;
    border-radius: 4px;
    font-size: 1.6vh;
    height: 3.5vh;
    width: 7vh;
}

.error_message p {
    width: fit-content;
    border: 1px solid #e14e68;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 20, 69, 0.22);
    font-size: 2vh;
    font-style: italic;
    color: #540c16;
}

.center {
    margin: auto;
    width: 20%;
    text-align: center;
    /*padding: 10px;*/
}

.center_user {
    margin: auto;
    width: 65%;
    text-align: center;
    /*padding: 10px;*/
}

.vote_up {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding: 6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.vote_up:hover {
	background-color:#5cbf2a;
}
.vote_up:active {
	position:relative;
	top:1px;
}

.vote_down {
	background-color: #c74463;
	border-radius:28px;
	border:1px solid #ab1818;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding: 6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #66274d;
}
.vote_down:hover {
	background-color: #bf2a2a;
}
.vote_down:active {
	position:relative;
	top:1px;
}



/*question page*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 3em auto;
  width: 90%;
  max-width: 1100px;
}

h2 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: #092840;
}
h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  border-bottom: 3px solid #140328;
  width: 30px;
}

ul {
  list-style: none;
  margin: 4em 0 0;
  padding: 0;
}
ul::after {
  clear: both;
  content: "";
  display: table;
}
ul li {
  margin-bottom: 2em;
}
@media only screen and (min-width: 700px) {
  ul li {
    float: left;
    width: 47.5%;
    margin-right: 5%;
  }
  ul li:nth-child(2n) {
    margin-right: 0;
  }
}
ul li h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25em;
  line-height: 2.5em;
  font-weight: 300;
  letter-spacing: 1px;
}
ul li h3:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #d4d4d4;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}
ul li h3 span {
  padding-left: 15px;
}
ul li p {
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6875em;
  font-weight: 400;
  color: #191b3c;
}

.img {
  max-width: 100%;
  height: auto;
}

.answers {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}


.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}


