{% extends "base.html" %}

{% block title %}AskMate{% endblock %}
{% block content %}
<head>
{#    <link rel="stylesheet" href="../static/style.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="body">

<br>
<h3>Please add a new question using this form. </h3>
<br>

{% import 'question_form.html' as question_form %}
{{ question_form.render(question_url = url_for('add_question')) }}

</body>
{%  endblock %}



{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <link rel="stylesheet" href="../static/style.css">#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body class="body">#}
{#<br>#}
{#<h4>Add Question</h4>#}
{#<br>#}
{#{% import 'question_form.html' as question_form %}#}
{#{{ question_form.render(question_url = url_for('add_question')) }}#}
{##}
{##}
{#</body>#}
{#</html>#}