{% extends "base.html" %}

{% block title %}AskMate{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body class="body">
<h3>Your Search results is bellow!<h3></h3>
<div class = user-page-bottom>
{% for found_line in found_data %}
    {% if found_line["title"] == None %}
        {% set begin_index = found_line["title"].find(search_phrase) %}
        {% set end_index = begin_index + search_phrase|length - 1 %}
        <p>{{ found_line["title"][0:begin_index] }}
            <mark>{{ search_phrase }}</mark>
            {{ found_line["title"][end_index + 1:] }}</p>
    {% endif %}
    {% set begin_index = found_line["message"].find(search_phrase) %}
    {% set end_index = begin_index + search_phrase|length - 1 %}
    <p>{{ found_line["message"][0:begin_index] }}
        <mark>{{ search_phrase }}</mark>
        {{ found_line["message"][end_index + 1:] }}</p>
    <br>

{% endfor %}
</div>
</body>
{% endblock %}