{% extends "base.html" %}

{% block title %}AskMate{% endblock %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>User Page</title>
    </head>
    <body>
    <div class="center_user">
        <div>
            <h1>{{ user_attributes['username'] }}</h1>
            <h3>
            <div class="form">
                <p>This user has {{ user_attributes['reputation'] }} points</p>
                <p>His date of registration is {{ user_attributes['date_of_registration'] }}</p>
            </div>
            </h3>
        </div>
        {% if number_of_questions != 0 %}
            <div>
                <h2>{{ number_of_questions }} Questions</h2>
            </div>
            <div >
                <table>
                    {% for row in questions %}
                        <tr>

                            <td>Click to see the question:
                                <a href="{{ url_for('display_question_by_id', question_id=row['id']) }}">{{ row['title'] }}</a>
                            </td>

                            <td>{{ row['view_number'] }}<br>Views</td>
                            <td>{{ row['vote_number'] }}<br>Votes</td>
                            <td>{{ row['submission_time'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        {% if number_of_answers != 0 %}
            <div>
                <h2>{{ number_of_answers }} Answers</h2>
            </div>
            <div>
                <table>
                    {% for row in answers %}

                        <tr>
                            <td>{{ row['message'] }}</td>
                            <td><a href="{{ url_for('display_question_by_id', question_id=row['question_id']) }}">View
                                Question</a></td>
                            <td>{{ row['vote_number'] }}<br>Votes</td>
                            <td>{{ row['submission_time'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <table>
                    <h2>Comment</h2>
                    {% for row in comment %}

                        <tr>
                            <td>{{ row['message'] }}</td>
                            {#                        <td><a href="{{ url_for('route_question_by_id', question_id=row['question_id']) }}">View Question</a></td>#}
                            <td>{{ row['vote_number'] }}<br>Votes</td>
                            <td>{{ row['submission_time'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>

    </body>
{% endblock %}